<div class="container">
  <div class="row">
    <div class="col s4" ng-repeat="routine in routineCtrl.routines">
      <div class="card-panel hoverable">
        <a class="right" href ng-click="routineCtrl.remove(routine)"><i class="small material-icons">delete</i></a>
        <h5 class="light-blue-text center-align">{{routine.name}}</h5>
        <div class="collection">
          <div class="collection-item" ng-repeat="workout in routine.workouts">
            {{workout.description}}
            <span class="badge">{{workout.reps}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row center-align">
    <form class="col s12 center">
      <div class="row">
        <div input-field class="col s12">
          <i class="material-icons prefix">mode_edit</i>
          <input id="workout_name" type="email" class="validate" ng-model="routineCtrl.newRoutine.name">
          <label for="workout_name">Workout Name</label>
        </div>
      </div>
      <button class="waves-effect waves-light btn" ng-click="routineCtrl.routines.save(routineCtrl.newRoutine); routineCtrl.newRoutine=''">Add</button>
      <button class="waves-effect waves-light btn orange" ng-click="routineCtrl.removeAll()">Remove All</button>
    </form>
  </div>
</div>
